@use '../../mixins';
@use '@sass-fairy/url';

$themeListGrid: var(--spacingHorizontalS);

#theme_list {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $themeListGrid;
	.theme {
		@include mixins.card(('.selected'));
		border-width: var(--strokeWidthThin);
		--fui-Card--size: #{$themeListGrid};
		> .theme_preview {
			margin-bottom: 0;
		}
	}
}

.theme_name {
    font-size: var(--fontSizeBase400);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase400);

	color: inherit;
}

.theme_author {
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    color: var(--colorNeutralForeground2);
}

.theme_type_icon {
	height: 20px;
	margin-inline-end: var(--spacingHorizontalSNudge);
	i:empty {
		width: 20px;
		content: '';
		margin: 0;
		width: 20px;
		height: 20px;
		background-color: currentColor;
		mask: url.svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 6a3 3 0 0 1 3-3h8a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3zm1 1v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7z" fill="#242424"/></svg>');
	}
}