@use '../../mixins';
@use '../../icons';
@use '@sass-fairy/url';

$themeListGrid: var(--spacingHorizontalS);

#theme_list {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $themeListGrid;
	.theme {
		@include mixins.card(('.selected'));
		border-width: var(--strokeWidthThin);
		--fui-Card--size: #{$themeListGrid};
		> .theme_preview {
			margin-bottom: 0;
		}
	}
}

.theme_name {
    font-size: var(--fontSizeBase400);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase400);

	color: inherit;
}

.theme_author {
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    color: var(--colorNeutralForeground2);
}

.theme_type_icon {
	height: 20px;
	margin-inline-end: var(--spacingHorizontalSNudge);
	i:empty {
		@include mixins.icon(20, icons.$windowRegular20);
	}
}