@use '../../mixins';

#bar_item_list {
	max-height: 600px;
	background-color: var(--colorNeutralBackground2);
	border-radius: var(--borderRadiusMedium);
	li {
		@include mixins.bar-item-list-item;
	}
}

#bar_items_current {
	background-color: var(--colorNeutralBackground2);
	border-radius: var(--borderRadiusMedium);
	padding: var(--spacingHorizontalSNudge);
	border: none;
	li {
		height: 32px;
	}
	.tool .icon_wrapper {
		margin: 5px auto;
		i {
			margin: 0;
		}
	}
}