@use '@sass-fairy/url';
@use '../../mixins';
@use '../../icons';

input[type=checkbox]:not(.toggle_switch) {
	position: relative;
	@include mixins.flex-center;

	// color: var(--fui-Checkbox__indicator--color);
	// background-color: var(--fui-Checkbox__indicator--backgroundColor);
	// border-color: var(--fui-Checkbox__indicator--borderColor, var(--colorNeutralStrokeAccessible));
	border-style: solid;
	border-width: var(--strokeWidthThin);
	border-radius: var(--borderRadiusSmall);
	margin: var(--spacingVerticalS) var(--spacingHorizontalS);
	// fill: currentcolor;
	min-width: 0;
	height: 16px;
	width: 16px;

	@include mixins.stateful((
		'bg': transparent,
		'fg': var(--colorNeutralStrokeAccessible),
		'stroke': var(--colorNeutralStrokeAccessible),

		'stroke-hover': var(--colorNeutralStrokeAccessibleHover),
		'stroke-pressed': var(--colorNeutralStrokeAccessiblePressed),

		'bg-selected': var(--colorCompoundBrandBackground),
		'fg-selected': var(--colorNeutralForegroundInverted),
		'stroke-selected': var(--colorCompoundBrandBackground),

		'bg-selected-hover': var(--colorCompoundBrandBackgroundHover),
		'stroke-selected-hover': var(--colorCompoundBrandBackgroundHover),

		'bg-selected-pressed': var(--colorCompoundBrandBackgroundPressed),
		'stroke-selected-pressed': var(--colorCompoundBrandBackgroundPressed),
	), (':checked'));
	
	&::before {
		content: none
	}
	&:checked {
		&::before {
			--fui-Checkbox__indicator--borderColor: var(--colorCompoundBrandBackground);
			--fui-Checkbox__indicator--color: var(--colorNeutralForegroundOnBrand);
			--fui-Checkbox__indicator--backgroundColor: var(--colorCompoundBrandBackground);
		}
		&::after {
			@include mixins.icon(12, icons.$checkmarkRegular12);
			flex-shrink: 0;
		}
	}
}