
@use '@sass-fairy/url';
@use '../../mixins';
@use '../../icons';

// Form bars
.dialog_form_description {
  @include mixins.btn-base;
  @include mixins.btn-subtle;

  inline-size: 32px;
  block-size: 32px;

  padding: 0;
  @include mixins.flex-center;

  &::before {
    @include mixins.icon(20, icons.$questionRegular20);
    margin: 0;
  }
}
.dialog_bar {
  margin-block: var(--spacingVerticalS);
  gap: var(--spacingHorizontalS);
  & > label {
    padding: 0;
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
  }
}
.dialog_vector_group {
  gap: var(--spacingHorizontalS)
}

// Dialog message box command
.dialog_message_box_command {
  @include mixins.btn-base;
  @include mixins.btn-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase300);

  padding: var(--spacingHorizontalS) var(--spacingHorizontalM);

  &::before {
    content: none;
  }
  &::after {
    @include mixins.icon(20, icons.$chevronRightRegular20);
  }
}

// Form inline select
.form_inline_select {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  border-radius: var(--borderRadiusMedium);
  border: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
  box-shadow: none;
  > li {
    @include mixins.btn-base;
    @include mixins.btn-shape;
    @include mixins.btn-subtle();

    min-width: 0;
    
    border-radius: 0;
    &.selected {
      @include mixins.btn-primary;
    }

    &:first-child {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    &:last-child {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &, &.selected {
      &:not(:last-child) {
        border-inline-end: var(--strokeWidthThin) solid var(--colorNeutralStrokeAccessible);
      }
    }
  }
}