@keyframes fadeIn {
    from {
        opacity: 0
    }
}

@keyframes fadeInTo1 {
    to {
        opacity: 1
    }
}

@keyframes scaleYIn {
    from {
        transform: translateY(-37.5%) scaleY(0.25)
    }
}

@keyframes scaleIn {
    from {
        transform: scale(var(--starting-scale))
    }
}
