@use '@sass-fairy/url';
@use '../mixins';
@use '../icons';

@use './form/bar-item-list';
@use './form/button';
@use './form/checkbox';
@use './form/dialog-form-btn';
@use './form/dialog';
@use './form/slider';
@use './form/switch';
@use './form/tool';
@use './form/tooltip';

input {
  &:not([type]), &.dark_bordered {
    @include mixins.form-standard();
  }
}

.numeric_input > div.tool {
  inset-inline-end: var(--strokeWidthThin);
  inset-block: var(--strokeWidthThin);
  height: auto;
  width: auto;
  i {
    $iconSize: 20px;
    height: $iconSize;
    line-height: $iconSize;
    font-size: $iconSize;
  }
}

div.nslide {
  @include mixins.form-standard();
  justify-content: center;
}

.nslide_tool {
  position: relative;
}

div.nslide_arrow {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 30px;
  margin-top: 0;
  @include mixins.btn-base;

  &.na_left,
  &.na_right {
    margin-inline-start: 0 !important;
  }

  &.na_left {
    left: 0;
  }
  &.na_right {
    right: 0;
  }
}

div.bb-select, select {
  @include mixins.form-standard();
}

div.bb-select {
  justify-content: space-between;
  &::before {
    content: none;
  }
  &::after {
    flex-shrink: 0;
    right: var(--spacingHorizontalMNudge);
    float: right;
    
    @include mixins.icon(20, icons.$chevronDownRegular20);
  }
}
