@use '@sass-fairy/url';
@use '../mixins';

$menuBarHeight: 32px;

body {
    --menu-bar-height: #{$menuBarHeight};
}

header {
	overflow: visible;
}

div#corner_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacingHorizontalL);
	margin: 0;
	padding-inline: var(--spacingHorizontalL) var(--spacingHorizontalS);

	flex-shrink: 0;
	
	filter: invert(1);

	img {
		margin: 0;
		content: url.svg('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.768 2.2c-.167 0-.673.037-2.314.15l-6.075.418c-2.03.139-1.83.12-1.926.18-.108.068-.17.183-.205.386-.3 1.452-.541 2.494-.736 3.339-.01.026-.03.118-.046.204-.026.145-.025.16.008.205.07.095.153.117.759.196 2.296.3 4.694.617 6.81.894l2.132.282c.62.083.632.083.66.015.02-.054.06-.24.137-.647.318-1.646.687-3.578.956-4.947.084-.428.088-.475.046-.546a.34.34 0 0 0-.102-.103c-.027-.016-.005-.028-.104-.027M4 7.537q-.119 0-.234.017c-.107.017-.943.136-1.86.266-.915.13-1.702.25-1.749.266-.14.051-.196.19-.129.32.041.079.144.126.467.215l.127.038c3.026.85 6.225 1.786 9.055 2.592.158.047.375.13.513.131.105-.028.702-.323 2.055-1.003 1.099-.554 2.014-1.02 2.034-1.037.075-.066.115-.207.076-.268a1 1 0 0 0-.239-.055l-1.996-.293a814 814 0 0 1-2.736-.4 791 791 0 0 1-3.057-.447c-1.342-.194-1.757-.256-1.87-.28A2.2 2.2 0 0 0 4 7.537M2.88 9.714h-.01c-.037.008-.749 1.535-.749 1.605s.051.158.112.191c.068.037.11.038.209.003.296-.092.612-.195.906-.283.877-.263.892-.269.985-.366.077-.08.218-.374.26-.54a.5.5 0 0 1 .038-.103c.012-.024.02-.043.016-.043-.512-.133-1.044-.277-1.529-.41a2 2 0 0 0-.238-.054m9.096 1.193c-.015 0-.039.01-.082.036l-.3.17c-.32.193-.624.395-.963.555-.275.172-.397.21-.534.165a6 6 0 0 0-.524-.136.05.05 0 0 0-.045.034c-.01.033-.044.126-.126.355-.133.342-.248.688-.368 1.013a4 4 0 0 0-.155.555c.001.043.094.13.166.157a.4.4 0 0 0 .154.018c.838-.34 1.477-.767 2.19-1.14.218-.114.298-.194.33-.328a43 43 0 0 0 .178-.8c.122-.541.13-.592.099-.641q-.008-.012-.02-.013" fill="#fff"/></svg>');
		width: 16px;
		height: 16px;
		flex-shrink: 0;

		// filter: invert(1);
	}
}

ul#menu_bar {
	background-color: var(--colorNeutralBackground3);
	height: auto;
}

li.menu_bar_point {
	font-size: var(--fontSizeBase300);
	font-weight: var(--fontWeightRegular);
	line-height: var(--lineHeightBase300);

	display: inline-block;

	min-width: 0;

	line-height: $menuBarHeight;
	height: $menuBarHeight;
	padding: 0 var(--spacingHorizontalMNudge);
	border-radius: var(--borderRadiusMedium);
	
	@include mixins.stateful((
		"bg": var(--colorNeutralBackground3),
		"fg": var(--colorNeutralForeground2),

		"bg-hover": var(--colorNeutralBackground3Hover),
		"fg-hover": var(--colorNeutralForeground2Hover),

		"bg-pressed": var(--colorNeutralBackground3Pressed),
		"fg-pressed": var(--colorNeutralForeground2Pressed),
		
		"bg-selected": var(--colorNeutralBackground3Selected),
		"fg-selected": var(--colorNeutralForeground2Selected),
	), ('.opened'), false);
}