@use '../mixins';

#status_bar {
	.status_bar_modifier_key kbd {
		color: var(--colorNeutralForeground1);
		background-color: var(--colorNeutralBackground1);
		border: solid 1px var(--colorNeutralStroke3);
		border-bottom-color: var(--colorNeutralStroke1);
		box-shadow: inset 0 -1px 0 var(--colorNeutralShadowKey);

		font-size: var(--fontSizeBase200);
		font-weight: var(--fontWeightRegular);
		line-height: var(--lineHeightBase200);
	}
	.sidebar_toggle_button {
		@include mixins.btn-base;
		@include mixins.btn-subtle;
		@include mixins.flex-center;

		padding: 0;
		width: var(--status-bar-height);
		height: var(--status-bar-height);
		i {
			width: 20px;
			height: 20px;
		}
	}
}